html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-base;
}

body {
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3e4555;
  font-family: quicksand, sans-serif;
  font-weight: 600;
  margin: 0.8em 0;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: #948a99;
  margin-bottom: 1.7em;
  margin-top: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

*,
*:hover,
*:focus {
  outline: 0 !important;
}

.transition,
%transition {
  transition: all 0.3s ease-in-out;
}
li {
  list-style: none;
}
ul {
  margin: 0;
}
