@mixin justify-content-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@mixin justify-content-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
