.btn {
  @include button;
  i {
    line-height: 35px;
    font-size: 10px;
    padding-left: 3px;
  }
}

.btn-primary {
  background-color: #9352b3;
}
.btn:hover {
  filter: brightness(143%);
  color: #fff;
}
